<template lang="pug">
.circle.flex.centered(:class=`{
  initialized,
  loading,
  fail,
  positioned: fetching,
  done
}`)
  .inner.default.shadowed.flex.centered
    .logo.flex.centered m
  .inner.shadowed.flex.fail.vertically.centered.column(:class=`{
    visible: fail
  }`)
    icon.branch(:name="failtype.replace(/ /g, '')", v-if="icon")
    .text(:class=`{
      icon: icon
    }`) {{failtype}}
    .bottomtext(@click="$emit('close')") close
  .inner.shadowed.flex.load.vertically.centered.column(:class=`{
    visible: fetching
  }`)
    icon.download(:name="fetchtype")
    .dltext {{fetchtype}}
    //.rtext(v-if="done") restart
  .spinner

</template>

<script lang="ts">
import Vue from "vue";

import Projects from "@/views/Projects.vue";

import Icon from "@/controls/Icon.vue";

export default Vue.extend({
  name: "Init",
  props: {
    initialized: {},
    loading: {},
    fail: {},
    fetching: {},
    failtype: {},
    fetchtype: {},
    icon: {},
    done: {}
  },
  components: { Icon }
});
</script>

<style scoped lang="sass">
@keyframes breathe
  0%
    opacity: 0
    background: var(--background-gradient)
  50%
    opacity: 0.4
    background: var(--background-gradient)
  100%
    opacity: 0
    background: var(--background-gradient)
@keyframes fail
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes position
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes spin
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)
.circle
  -webkit-app-region: drag
  width: 200px
  height: 200px
  opacity: 0
  background: white
  transform: scale(0.5)
  overflow: hidden
  position: fixed
  border-radius: 50%
  transition: background-color var(--animation-time-medium) var(--easing-symmetric), width var(--animation-time-medium) var(--easing-symmetric), transform var(--animation-time-medium) var(--easing-symmetric), opacity var(--animation-time-medium) var(--easing-symmetric), height var(--animation-time-medium) var(--easing-symmetric)
.circle.initialized
  opacity: 1
  transform: scale(0.85)
.circle.loading
  transform: scale(1)
  .inner
    transform: scale(1)
.circle.done
  transform: scale(0.85)!important
.circle.done
  .inner
    transform: scale(1.2)!important
.circle::before
  content: ""
  opacity: 1
  display: block
  border-radius: 50%
  background: white
  position: absolute
  width: 100%
  height: 100%
  opacity: 0
  animation: breathe 2s infinite var(--easing-symmetric)
  transition: opacity 1s var(--easing-symmetric)
  animation-delay: 0.5s
.circle.loading::before
  opacity: 1
.circle.loading.positioned::before
  animation: position 1.5s
  clip-path: url(#load)
  background: var(--background-gradient)
  border-radius: 0
.circle.fail::before
  animation: fail 1.5s
  background: var(--alternate-gradient)
.circle.fail .inner:not(.fail)
  transform: rotateY(-180deg)
.circle.positioned::before
  animation: fail 1.5s
  background: var(--alternate-gradient)
.circle.positioned .inner.fail
  display: none
.circle.fail .inner.load
  display: none
.circle.done .inner.fail
  display: none
.circle.positioned .inner:not(.load)
  transform: rotateY(-180deg)
.circle .inner.fail
  transform: rotateY(180deg)
  backface-visibility: hidden
  transition: transform var(--animation-time-slow) var(--easing-symmetric), opacity var(--animation-time-slow) var(--easing-symmetric)
.circle .inner.load
  transform: rotateY(180deg)
  backface-visibility: hidden
  transition: transform var(--animation-time-slow) var(--easing-symmetric), opacity var(--animation-time-slow) var(--easing-symmetric)
.inner.fail.visible
  transform: rotateY(0)
  opacity: 1
.inner.load.visible
  transform: rotateY(0)
  opacity: 1
.inner.load
  background: white
.inner
  position: absolute
  width: 170px
  height: 170px
  transform: scale(1.175)
  border-radius: 50%
  background: var(--background-gradient)
  transition: transform var(--animation-time-slow) var(--easing-symmetric)
.logo
  text-shadow: var(--depth-shadow)
  position: absolute
  user-select: none
.branch
  color: white
  width: 70px
  opacity: 0.7
  height: 70px
  margin-top: -5px
.text
  font-size: 1.8rem
  user-select: none
  opacity: 0.7
  text-align: center
  margin-bottom: 2px
  margin-top: -3.5px
  color: var(--secondary-color-b)
.text:not(.icon)
  font-size: 1.5rem
  line-height: 1.2
  margin-bottom: 10px
.bottomtext
  color: white
  font-size: 0.9rem
  display: flex
  user-select: none
  opacity: 0.7
  justify-content: center
  transition: opacity var(--animation-time-fast) var(--easing-symmetric)
  align-items: center
  cursor: pointer
  position: relative
.bottomtext:hover
  opacity: 0.85
.bottomtext::after
  content: ""
  margin-top: -1px
  position: absolute
  display: block
  width: 100%
  height: 2px
  background: white
  transition: width var(--animation-time-fast) var(--easing-symmetric)
  margin-bottom: 2px
  top: 100%
.bottomtext:hover::after
  width: 100%
.download
  width: 100px
  opacity: 0.15
  margin-left: -8px
  height: 100px
.dltext
  margin-top: -10px
  font-size: 1.1rem
  user-select: none
  opacity: 0.2
  margin-bottom: 20px
.positioned .spinner
  position: absolute
  height: 200px
  width: 200px
  animation: spin 1s infinite
  background: white
  clip-path: circle(4px at 100px 8px)
</style>