<template lang="pug">
.splash(:class=`{
  initialized
}`)
  projects
</template>

<style scoped lang="sass">
.splash
  --webkit-drag-region: no-drag
  height: calc(100vh - 60px)
  border-radius: 10px
  opacity: 0
  color: white
  transform: scale(0.75)
  box-shadow: var(--depth-shadow)
  width: calc(100vw - 60px)
  background: var(--background-gradient)
  transition: transform var(--animation-time-slow) var(--easing-symmetric), opacity var(--animation-time-slow) var(--easing-symmetric)
.splash.initialized
  opacity: 1
  transform: none
</style>
