<template lang="pug">
.circle.flex.centered(v-ripple="'rgba(0, 228, 94, 0.2)'")
  icon.action(name="add")
</template>

<script lang="ts">
import Vue from "vue";

import Icon from "@/controls/Icon.vue";

export default Vue.extend({
  props: ["type"],
  components: { Icon }
});
</script>

<style lang="sass">
@import "ionicons-inline/dist/ionicons.scss"
.circle
  width: 60px
  cursor: pointer
  height: 60px
  background: white
  border-radius: 50%
  transition: background-color var(--animation-time-fast) var(--easing-symmetric)
  background: white
.circle:hover
  background: rgba(255,255,255,0.9)
.action
  width: 40px
  height: 40px
</style>