<template lang="pug">
.button.shadowed(v-ripple="'rgba(0, 228, 94, 0.2)'")
  .text
    slot
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({});
</script>

<style scoped lang="sass">
.button
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: background-color var(--animation-time-fast) var(--easing-symmetric)
  background: white
.text
  background: var(--background-gradient)
  background-clip: text
  user-select: none
  -webkit-background-clip: text
  color: transparent
.button:hover
  background: rgba(255,255,255,0.9)
</style>