<template lang="pug">
.container.flex.centered(ref="container")
  .cross.flex.centered(v-if="cross")
    .one
    .two
  .icon(:class="$props.name",ref="icon")
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["name", "cross"],
  mounted() {
    const w = getComputedStyle(this.$refs.container as HTMLElement).width;
    (this.$refs.icon as HTMLElement).style.backgroundSize = w;
    (this.$refs.icon as HTMLElement).style.width = w;
    (this.$refs.icon as HTMLElement).style.height = w;
  }
});
</script>

<style lang="sass">
@import "ionicons-inline/dist/ionicons.scss"
.icon.add
  background-image: ion-md-add-image(#fff)
.icon.nogit
  background-image: ion-md-git-branch-image(#fff)
  margin-right: -10px
.icon.offline
  background-image: ion-md-flash-off-image(#fff)
.icon.installing
  background-image: ion-md-cloud-download-image(#000)
  margin-right: -10px
.icon.updating
  background-image: ion-md-cloud-download-image(#000)
  margin-right: -10px
.icon.updated
  background-image: ion-md-cloud-done-image(#000)
  margin-right: -10px
.icon.installed
  background-image: ion-md-cloud-done-image(#000)
  margin-right: -10px
.cross
  position: absolute
  width: 100%
  height: 100%
  z-index: -1
  transform: rotate(45deg)
.cross .one
  position: absolute
  width: 30%
  background-position: centered
  background-attachment: fixed
  background-size: 100% 100%
  background: var(--alternate-gradient)
  height: 115%
.cross .two
  position: absolute
  height: 30%
  background-position: centered
  background-attachment: fixed
  background-size: 100% 100%
  background: var(--alternate-gradient)
  width: 115%
</style>