<template lang="pug">
.container
  .super monolith
  .flex.fill.height.fill.width.column
    .flex.fill.width
    .flex.fill.width
      action-button(type="add")
</template>

<script lang="ts">
import Vue from "vue";

import ActionButton from "@/controls/ActionButton.vue";

export default Vue.extend({
  components: { ActionButton },
  props: {
    projects: {
      default: () => []
    }
  }
});
</script>

<style scoped lang="sass">
.container
  height: 100%
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 35px
  padding-top: 12.5px
  flex-flow: column nowrap
.column:not(.centered)
  justify-content: space-between
.create
  position: absolute
</style>