<template lang="pug">
#app.flex.centered
  router-view(:loading="loading", :initialized="initialized", :fail="fail", @close="close", :failtype="failtype", :fetching="fetching", :fetchtype="fetchtype", :icon="icon", :done="done")
</template>

<script lang="ts">
import Vue from "vue";

declare var astilectron: any;

export default Vue.extend({
  name: "App",
  data() {
    return {
      initialized: process.env.NODE_ENV === "development",
      production: process.env.NODE_ENV !== "development",
      loading: process.env.NODE_ENV === "development",
      fail: false,
      fetching: process.env.NODE_ENV === "development",
      failtype: "",
      fetchtype: process.env.NODE_ENV === "development" ? "installing" : "",
      icon: false,
      done: false
    };
  },
  mounted() {
    document.addEventListener("astilectron-ready", () => {
      if (typeof astilectron !== "undefined") {
        this.ready();
      } else {
        this.production = false;
        this.ready();
      }
    });
    if (!this.production) {
      setTimeout(() => {
        this.fetching = false;
        this.loading = true;
        this.fail = false;
        this.done = true;
        this.fetchtype = "installed";
      }, 1000);
    }
  },
  methods: {
    ready() {
      setTimeout(() => {
        this.initialized = true;
        setTimeout(() => {
          this.loading = true;
          if (this.production) {
            if (astilectron !== undefined) {
              setTimeout(() => {
                astilectron.onMessage((message: any) => {
                  if (message.status === "failure") {
                    setTimeout(() => {
                      this.fetching = false;
                      this.loading = true;
                      this.fail = true;
                      this.done = false;
                      this.failtype = message.data;
                      if (
                        this.failtype === "no git" ||
                        this.failtype === "offline"
                      ) {
                        this.icon = true;
                      }
                    }, 200);
                  } else if (message.status === "success") {
                    setTimeout(() => {
                      this.fetching = false;
                      this.loading = true;
                      this.fail = false;
                      this.done = true;
                      this.fetchtype = message.data;
                      if (this.fetchtype === "installed") {
                        setTimeout(() => {
                          this.restart();
                        }, 1000);
                      }
                    }, 1000);
                  } else if (message.status === "close") {
                    this.close();
                  }
                });
                astilectron.sendMessage(
                  {
                    name: "initialize"
                  },
                  (message: any) => {
                    if (message.payload.status === "failure") {
                      setTimeout(() => {
                        this.fail = true;
                        this.failtype = message.payload.data;
                        if (
                          this.failtype === "no git" ||
                          this.failtype === "offline"
                        ) {
                          this.icon = true;
                        }
                      }, 200);
                    } else if (message.payload.status === "success") {
                      setTimeout(() => {
                        this.fetching = true;
                        this.fetchtype = message.payload.data;
                      }, 200);
                    } else if (message.payload.status === "close") {
                      this.close();
                    }
                  }
                );
              }, 400);
            }
          }
        }, 600);
      }, 100);
    },
    close() {
      this.initialized = false;
      this.loading = false;
      setTimeout(() => {
        astilectron.sendMessage({
          name: "close"
        });
      }, 200);
    },
    restart() {
      this.initialized = false;
      this.loading = false;
      setTimeout(() => {
        astilectron.sendMessage({
          name: "restart"
        });
      }, 200);
    }
  }
});
</script>

<style lang="sass">
@font-face
  font-family: "Tamei"
  src: url("assets/fonts/Tamei.otf") format("opentype")
*
  box-sizing: border-box
body
  font-family: "Avenir"
  font-weight: bold
  font-size: 20px
  --primary-color-a: #00e45e
  --primary-color-b: #00a96e
  --secondary-color-a: #9600dc
  --secondary-color-b: #293c7e
  --background-gradient: linear-gradient(to bottom right, var(--primary-color-a) 0%, var(--primary-color-b) 100%)
  --alternate-gradient: linear-gradient(to bottom right, var(--secondary-color-a) 0%, var(--secondary-color-b) 100%)
  --animation-time-fast: 0.1s
  --animation-time-medium: 0.3s
  --animation-time-slow: 0.5s
  --easing-symmetric: ease-in-out
  --depth-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.08)
  margin: 0
body, html
  overflow: hidden
#app
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw
.super
  font-family: "Tamei"
  font-weight: normal
  user-select: none
  font-size: 3.5rem
  letter-spacing: 0.2rem
.heading
  font-size: 2rem
.flex
  display: flex
  &.centered
    justify-content: center
    align-items: center
    &.column
      justify-content: initial
      &.vertically
        justify-content: center
    &.row
      justify-content: initial
      &.horizontally
        justify-content: center
  &.column
    flex-flow: column
  &.row
    flex-flow: row
  &.wrap
    flex-wrap: wrap
  &.nowrap
    flex-wrap: nowrap
.fill.width
  width: 100%
.fill.height
  height: 100%
.button
  height: 55px
  cursor: pointer
  border-radius: 27.5px
.light
  background-image: var(--background-gradient)
  background-clip: text
  --webkit-background-clip: text
  color: transparent
.shadowed
  box-shadow: var(--depth-shadow)
.button
  width: 100%
  height: 55px
  border-radius: 27.5px
  cursor: pointer
.logo
  color: white
  font-family: Tamei
  font-size: 7rem
  line-height: 4rem
  margin-top: -1rem
</style>
